
.google-visualization-controls-label {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        width: 200px;
        color: #DFDCE3;
      }
.google-visualization-controls-label LABEL {
              min-width: 130px;
            }
.google-visualization-controls-stringfilter INPUT {width: 50px;}

.goog-menu-vertical {display: none !important}

.goog-combobox INPUT {width: 50px !important}
.goog-combobox-active INPUT {width: 50px !important}
.google-visualization-table .gradient {background-image: none !important}
