html, body {
    min-height: 100%;
    margin: 0
}

.google-visualization-controls-label {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        width: 200px;
      }
.google-visualization-controls-label LABEL {
              min-width: 130px;
            }
.google-visualization-controls-stringfilter INPUT {width: 50px;}
