{% extends "header.html" %}
{% block content %}

<!-- Load the Javascript -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    $('#loading_extra').hide();

    // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart', 'controls']});
    // Callback that creates and populates a data table,
    // instantiates the chart, passes in the data and draws it.
    function drawChart(airport) {
      var filter = document.getElementById("airportinput");
      if (isNaN(airport)) {
      airport = filter.value.substring(0,3);
    };

      var url_to_call = './airport_data/'+airport;

      // loading image until the chart is done
      $('#loading_extra').show();
      // call API and pass the data to the drawchart function
      $.ajax({
          type: 'GET',
          url: url_to_call,
          dataType: "json",
          crossDomain: true,
          success: function (data_to_display) {

          // Create the data table.
          data_formatted = new google.visualization.DataTable();
          data_formatted.addColumn('string', 'ID');
          data_formatted.addColumn('string', 'Airport');
          data_formatted.addColumn('string', 'Time of the day');
          data_formatted.addColumn('number', 'Index local arrival');
          data_formatted.addColumn('number', 'Index local departure');
          data_formatted.addColumn('number', 'Index connecting arrival');
          data_formatted.addColumn('number', 'Index connecting departure');
          data_formatted.addColumn('number', 'Local');
          data_formatted.addColumn('number', 'Connecting');

          for (i = 0; i < data_to_display.length -1; i++) {
            var timeofday = data_to_display.data[i][2];
            var timeofdayh = timeofday.concat("h");

                  data_formatted.addRows([
                  [data_to_display.data[i][0],
                  data_to_display.data[i][1],
                  timeofdayh,
                  data_to_display.data[i][3],
                  data_to_display.data[i][4],
                  data_to_display.data[i][5],
                  data_to_display.data[i][6],
                  data_to_display.data[i][3]-data_to_display.data[i][4],
                  data_to_display.data[i][5]-data_to_display.data[i][6]
                ]]);
              };

              // Create a chart, passing some options
          myChart = new google.visualization.ChartWrapper({
                'chartType': 'ColumnChart',
                'containerId': 'chart_div',
                'dataTable': data_formatted,
                // The  chart will only use the columns listed - note:index start at 0 - inverted so connecting is at the bottom
                'view': {'columns': [2,5,6,3,4]},

                'options': {
                  'theme': 'maximized',
                  'series': {
                            0 : {color: '#00B2D6' },
                            1 : {color: '#00B2D6' },
                            2 : {color: '#272133' },
                            3 : {color: '#272133' },
                          },
                  'height':400,
                  'width':'100%',
                  'isStacked': true,
                  'colors': ['#00b2d6'],
                  'backgroundColor': { fill:'#DFDCE3' },
                  'legend': {position: 'none'},
                  'hAxis': {title: 'Time of the day',
                            baselineColor: '#DFDCE3',
                            maxAlternation: 1,
                            textStyle: {color: '#272133', fontName: "Helvetica",fontSize: 16},
                            titleTextStyle: {color: '#272133', fontName: "Helvetica",fontSize: 18},
                            gridlines: {count: 4}},
                  'vAxis': {viewWindowMode: 'maximized',
                            textStyle: {color: '#272133', fontName: "Helvetica",fontSize: 16},
                            titleTextStyle: {color: '#272133', fontName: "Helvetica",fontSize: 18},
                            gridlines: {count: 0}},
                  },

                  'chartArea' : {width:'600px',height:'100%'},
              });

              // Establish dependencies, declaring that 'filter' drives 'Chart',
              // so that the  chart will only display entries that are let through
              // given the filter

            var filtered_view = new google.visualization.DataView(data_formatted);
            var agg_table = google.visualization.data.group(
                data_formatted,
                [1],
                [
                  {'column': 7, 'aggregation': google.visualization.data.sum, 'type': 'number'},
                  {'column': 8, 'aggregation': google.visualization.data.sum, 'type': 'number'}
                ]
              );
            var data_for_pie = google.visualization.arrayToDataTable(
                [['Type', 'Index'],['Local', agg_table.getValue(0, 1)],['Connecting', agg_table.getValue(0, 2)]], false);

            myPieChart = new google.visualization.ChartWrapper({
                'chartType': 'PieChart',
                'containerId': 'piechart_div',
                'dataTable' : data_for_pie,
                'options': {
                  'fontSize': 14,
                  'height':200,
                  'width':200,
                  'slices': {
                            0 : {color: '#272133' },
                            1 : {color: '#00B2D6' },
                          },
                  'colors': ['#00b2d6'],
                  'backgroundColor': { fill:'#DFDCE3' },
                  'legend': {position: 'none'},
                },
                });
            },
            complete: function(){
              myPieChart.draw();
              myChart.draw();
              $('#loading_extra').hide();
            }
            });
          };


    $(document).ready(function () {
        // prepare the URL to call
        var url_to_call = './airport_data/LHR';

        // loading image until the chart is done
        $('#loading_image').show();


        // call API and pass the data to the drawchart function
        $.ajax({
            type: 'GET',
            url: url_to_call,
            dataType: "json",
            crossDomain: true,
            success: function (api_results) {
                update_time = new Date(api_results.update);
                document.getElementById("update_time").innerHTML = update_time.toDateString() ;
            },
            complete: function(){
                drawChart('LHR');
                $('#loading_image').hide();
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });

    });

    </script>

  <!-- HTML -->

        <div class="bg-white">
  	    <div class="container_12 ta-c pt-30 bg-white grey">
  				<div class="dib">
  					<div class="grid_4 ta-c">
  						<div class="p-5">
  							<i class="fa fa-users fa-4x sky-blue"></i>
  							<p class=" text-icon "> Based on 50M+ UMVs </p>
  						</div>
  					</div>

            <div class="grid_4 ta-c">
  						<div class="p-5">
  							<i class="fa fa-calendar fa-4x sky-blue"></i>
  							<p class=" text-icon "> In the last 12 months </p>
  						</div>
  					</div>

						<div class="grid_4 ta-c">
							<div class="p-5">
								<i class="fa fa-bar-chart fa-4x sky-blue"></i>
								<p class=" text-icon ">The busiest times at the airport are:</p>
							</div>
						</div>
					</div>
          <!--Div that holds the animated gif until the chart loads-->
          <div id="loading_image" class="grid_12 pb-30">
            <img src="{{ url_for('static', filename='loading.gif') }}"></img>
          </div>
	       </div>
       </div>

       <div class="bg-light-grey">
        <div class="container_12 ta-c fs-18 pb-30">

          <!--Div that will hold the dashboard-->
          <div >
              <!--Divs that will hold each control and chart-->
              <div id="piechart_div" class='grid_4 pb-30 pt-30'></div>
              <div id="chart_div" class='grid_8 pb-30 pt-30'></div>
          </div>
          <div class='container_12 ta-c mb-10'>
            <div class='grid_4'> &nbsp </div>
            <input id="airportinput" class='grid_3' type="text" value="LHR" onFocus='this.value=""'>
            <input type="button" class="grid_3 button-style" value="draw hub graph" onClick="drawChart()">
            <img id="loading_extra" src="{{ url_for('static', filename='loading_extra.gif') }}"></img>
          </div>

              <span class="text-icon"> Last updated on: </span>
              <span id="update_time" class=" text-icon"> - </span>
        </div>
         <div class="container_12 pt-30 pb-30 dark-blue">
           <div class="dib">
             <div class="grid_2">
               <div class="p-5">
                 <i class="fa fa-info-circle fa-5x "></i>
               </div>
             </div>
             <div class="grid_10">
               <div class="p-5">
                 <span class=" fs-16 ">
                   The chart shows an index representing the number of arriving/departing passenger by hour during the day.
                   Arriving passengers are above the line departing are below.
                   Only major airports are available in the filter. Connecting and local passengers are shown separately.
                 </span>
               </div>
             </div>
           </div>
         </div>
       </div>

{% endblock %}
