<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Load the CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customgooglechart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.9.0.custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/720.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <!--Load the Javascript -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">

    // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart', 'controls']});

    // Callback that creates and populates a data table,
    // instantiates the chart, passes in the data and draws it.
    function drawChart(data_to_display) {

        // Create the data table.
        var data_formatted = new google.visualization.DataTable();
        data_formatted.addColumn('string', 'Origin');
        data_formatted.addColumn('string', 'Destination');
        data_formatted.addColumn('string', 'O&D');
        data_formatted.addColumn('number', 'Popularity');
        for (i = 0; i < data_to_display.length -1; i++) {
              data_formatted.addRows([data_to_display.data[i]]);
            };

        var myView = new google.visualization.DataView(data_formatted);
        myView.setRows([0,1,2,3,4,5,6,7,8,9]);


        var dashboard = new google.visualization.Dashboard(
                document.getElementById('dashboard_div'));

            // Create 2 filters, passing some options
        var fromFilter = new google.visualization.ControlWrapper({
              'controlType': 'StringFilter',
              'containerId': 'filter_div',
              'options': {
                'filterColumnLabel': "Origin",
                'ui': { 'label': 'Specify origin',
                        'allowMultiple' : true,
                        'allowNone': true}
              }
            });
        var toFilter = new google.visualization.ControlWrapper({
              'controlType': 'StringFilter',
              'containerId': 'filter_div2',
              'options': {
                'filterColumnLabel': "Destination",
                'ui': { 'label': 'Specify destination',
                        'allowMultiple' : true,
                        'allowNone': true}
              }
            });
            // Create a chart, passing some options
        var myChart = new google.visualization.ChartWrapper({
              'chartType': 'BarChart',
              'containerId': 'chart_div',

              // The  chart will use the columns '2' and '3' - note:index start at 0
              'view': {'columns': [2,3]},
              'options': {
                'height':400,
                'colors': ['#00b2d6'],
                'backgroundColor': { fill:'#1b1524' },
                'title' : 'Most popular O&D ',
                'titleTextStyle' : { color: '#ddd',
                                      fontName: 'Arial',
                                      fontSize: 18,
                                      bold: true,},
                'vAxis': {title: 'O&D',
                          textStyle: {color: '#ddd', fontName: 'Arial',fontSize: 12},
                          titleTextStyle: {color: '#ddd', fontName: 'Arial',fontSize: 14}},
                'hAxis': {title: 'Popularity Index',
                          textStyle: {color: '#ddd', fontName: 'Arial',fontSize: 12},
                          titleTextStyle: {color: '#ddd', fontName: 'Arial',fontSize: 14}},
                'legend': {position: 'none'},
            //  animation doesn't work with dataview - bug
            //    'animation': {startup: true, duration: 500 ,easing: 'inAndOut'},
              }
            });

            // Establish dependencies, declaring that 'filter' drives 'Chart',
            // so that the  chart will only display entries that are let through
            // given the filter
            // Can also bind filters so that destination is filter for the origin selected
            dashboard.bind(fromFilter, myChart);
            dashboard.bind(fromFilter, toFilter);
            dashboard.bind(toFilter, myChart);

            // Draw the dashboard.
            dashboard.draw(myView);

            //retrieve 10 values every time the filters change
            google.visualization.events.addListener(fromFilter, 'statechange', function() {
            var new_view = new google.visualization.DataView(data_formatted);
            value_filtered = fromFilter.getState();
            console.log(value_filtered.value)
            if (value_filtered.value>'AAA') {
            new_view.setRows(new_view.getFilteredRows([{column: 0, value: value_filtered.value}]));
            }
            var filtered_view = new google.visualization.DataView(new_view);
            lastRowIndex = filtered_view.getNumberOfRows()-1
            filtered_view.hideRows(10,lastRowIndex);
            dashboard.draw(filtered_view);
            });

            google.visualization.events.addListener(toFilter, 'statechange', function() {
            var new_view = new google.visualization.DataView(data_formatted);
            value_filtered = toFilter.getState();
            if (value_filtered.value>'AAA') {
            new_view.setRows(new_view.getFilteredRows([{column: 1, value: value_filtered.value}]));
            }
            var filtered_view = new google.visualization.DataView(new_view);
            lastRowIndex = filtered_view.getNumberOfRows()-1
            filtered_view.hideRows(10,lastRowIndex);
            dashboard.draw(filtered_view);
            });

          };



    $(document).ready(function (drawchart) {
        // prepare the URL to call
        var url_to_call = './popularity';

        // loading image until the chart is done
        $('#loading_image').show();
        // call howbusy API and pass the data to the drawchart function
        $.ajax({
            type: 'GET',
            url: url_to_call,
            dataType: "json",
            crossDomain: true,
            success: function (api_results) {
                drawChart(api_results);
            },
            complete: function(){
                $('#loading_image').hide();
            },
            error: function (request, status, error) {
                alert(error);
            }
        });

    });

    </script>

</head>

<body>
  <!-- HTML -->
    <div class="ta-c bg-grey mb-30 grey-2">
        <div class="container_12 bg-image grey ">
  					<div class="fs-32 pt-30 bold white-box">  Travel Trends </div>
  					<div class="fs-24 bold pb-30 white-box">  What are they searching for? </div>
        </div>
  	    <div class="container_12 ta-c pt-30 bg-white grey">
  				<div class="dib">
  					<div class="grid_3 ta-c">
  						<div class="p-5">
  							<i class="fa fa-users fa-4x sky-blue"></i>
  							<p class=" fs-14 bold"> Based on 50M+ UMVs </p>
  						</div>
  					</div>

            <div class="grid_3 ta-c">
  						<div class="p-5">
  							<i class="fa fa-calendar fa-4x sky-blue"></i>
  							<p class=" fs-14 bold"> In the last 12months </p>
  						</div>
  					</div>

						<div class="grid_3 ta-c">
							<div class="p-5">
								<i class="fa fa-star fa-4x sky-blue"></i>
								<p class=" fs-14 bold">The most popular routes are: </p>
							</div>
						</div>
					</div>
	       </div>

         <div class="container_12 ta-c fs-14 pb-30">
           <!--Div that holds the animated gif until the chart loads-->
           <div id="loading_image" class="grid_12 pb-30">
               <img src="{{ url_for('static', filename='loading.gif') }}"></img>
           </div>

           <div class="container_12 ta-c bg-dark-blue" >
             <!--Div that will hold the dashboard-->
             <div id="dashboard_div" class="bg-dark-blue ">
               <!--Divs that will hold each control and chart-->
               <div id="chart_div"></div>
               <div id="filter_div" class="grid_6 ta-l pb-30"></div>
               <div id="filter_div2" class="grid_6 ta-l pb-30"></div>

             </div>
           </div>
         </div>

    </div>

</body>
</html>
