{% extends "header.html" %}
{% block content %}
<div class="ta-c bg-white">
  <div class="title"> Data Sample  </div>
  <iframe class="loading-iframe" width="720" height="600" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1JligI6CSpHagksQJDKuvWqy9h4WzloYtLZ2N671TURs/edit#gid=505377951"></iframe>

  <div class="container_12 info-section ">
      <div class="grid_2">
          <i class="fa fa-info-circle fa-5x"></i>
      </div>
      <div class="grid_10">
          <span>
              The sample is for users in the city of Vienna during the month of January 2016. </br>
              You can explore the data directly on the spreadsheet or download it and open it in Excel. </br>
              The sheet "Description" contains information on the different fields available in the database.</br>
          </span>
      </div>
  </div>
</div>
{% endblock %}
