<html>
<header>
<!--Load the CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/customgooglechart.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.9.0.custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/720.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!--Load the Javascript -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<header>

  <body>
      <div class="menu p-f ta-r bold bg-dark-blue">
          <ul >
            <li><a href=./pax>Passengers view</a></li>
            <li><a href="./airservice">Airlines view</a></li>
          </ul>
      </div>
    <div >
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
