<html>
<header>
  <meta name="viewport" content="width=device-width">
  <!--Load the CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/customgooglechart.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.9.0.custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/720.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!--Load the Javascript -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<header>

  <body>
      <div class="menu">
          <ul >
            <li><a href=./popularity_view>Popular O&D</a></li>
            <li><a href="./newflights_view">New flights</a></li>
            <li><a href="./itineraries_view">Connections</a></li>
          </ul>
      </div>
      <div class="ta-c bg-white light-grey">
          <div class="bg-image grey ">
    					<div class="fs-32 pt-50 bold white-box">  Travel Trends </div>
    					<div class="fs-24 pb-30 bold white-box">  What are they searching for? </div>
          </div>
      </div>
    <div >
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
