{% extends "_header.html" %}
{% block content %}


<script>
  function initMap() {

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 1, lng: 103},
      zoom: 3,
      gestureHandling: 'cooperative',
      scrollwheel: false,
      styles: [
        {elementType: 'geometry', stylers: [{color: '#DFDCE3'}]},
        {featureType: 'water', elementType: 'geometry',stylers: [{color: '#272133'}]},
      ]
    });
    var origincityURL =  getUrlParameter('origincity');
    var destinationcityURL =  getUrlParameter('destinationcity');

    if (origincityURL != undefined && destinationcityURL != undefined) {
    drawChart(origincityURL,destinationcityURL);
    };
  };

  function clearMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 1, lng: 103},
      zoom: 3,
      gestureHandling: 'cooperative',
      scrollwheel: false,
      styles: [
        {elementType: 'geometry', stylers: [{color: '#DFDCE3'}]},
        {featureType: 'water', elementType: 'geometry',stylers: [{color: '#272133'}]},
      ]
    });
  };

  function drawChart(origincity, destinationcity) {
    $('#loading_extra').show();

    if (origincity === undefined || destinationcity === undefined) {
      origincity = document.getElementById("originCityInput").value;
      destinationcity = document.getElementById("destinationCityInput").value
      mixpanel.track("Itinerary selection", {"O&D": origincity+"-"+destinationcity});
    };

    var url_to_call = '/itineraries_data/'+origincity+'/'+destinationcity

    // parameters for sharing on Linkedin
      window.traveltrendsURL = location.protocol+'//'+location.host+"/itineraries_view?origincity="+origincity+"&destinationcity="+destinationcity;
      window.subtitle = "Traffic Analysis for "+origincity+"-"+destinationcity+". Source: http://partners.skyscanner.net";

    $.ajax({
        type: 'GET',
        url: url_to_call,
        dataType: "json",
        crossDomain: true,
        success: function (api_results){
          update_time = new Date(api_results.update);
          document.getElementById("update_time").innerHTML = update_time.toDateString() ;
          result_table = api_results.data;
          result_length = api_results.length
        },
        complete:function(){
          $('#loading_extra').hide();

          clearMap();
          if (result_length > 0) {
              var itintable = result_table;

              //drawing the lines
              var flightPath = [];
              window.info = [];
              for (i = 0; i < Math.min(itintable.length,5); i++){
                var flightPlanCoordinates = [];
                  // filling up the null values with the previous stop/origin (itineraries with less than 2 stops)
                  if (itintable[i][9] == null) {
                      itintable[i][9] =  itintable[i][2];
                      itintable[i][10] = itintable[i][3];
                      itintable[i][12] =  itintable[i][2];
                      itintable[i][13] = itintable[i][3] }
                    else {
                      if (itintable[i][12] == null) {
                      itintable[i][12] =  itintable[i][6];
                      itintable[i][13] = itintable[i][7]};
                    };
                  flightPlanCoordinates = [
                    {lat:itintable[i][2],lng:itintable[i][3]},
                    {lat:itintable[i][9],lng:itintable[i][10]},
                    {lat:itintable[i][12],lng:itintable[i][13]},
                    {lat:itintable[i][6],lng:itintable[i][7]}
                  ];
                  flightPath[i] = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: '#5be2ed',
                    strokeOpacity: 1.0,
                    strokeWeight: 4*itintable[i][14],
                    zIndex: i,
                  });
                flightPath[i].setMap(map);

                var departure = itintable[i][1];
                var arrival = itintable[i][5];
                var stop1 = itintable[i][8];
                var stop2 = itintable[i][11];
                var rank = (i+1);

                // adding markers to show airports
                var marker_from = new google.maps.Marker({
                  position: {lat:itintable[i][2],lng:itintable[i][3]},
                  label: departure
                  });
                var marker_to = new google.maps.Marker({
                  position: {lat:itintable[i][6],lng:itintable[i][7]},
                  label: arrival
                  });
                var marker_stop1 = new google.maps.Marker({
                  position: {lat:itintable[i][9],lng:itintable[i][10]},
                  label: stop1
                  });
                var marker_stop2 = new google.maps.Marker({
                  position: {lat:itintable[i][12],lng:itintable[i][13]},
                  label: stop2
                  });
                // To add the marker to the map, call setMap();
                marker_from.setMap(map);
                marker_to.setMap(map);
                marker_stop1.setMap(map);
                marker_stop2.setMap(map);

                //create empty LatLngBounds object to center the map and include all markers
                var bounds = new google.maps.LatLngBounds();
                //extend the bounds to include each marker's position
                bounds.extend(marker_from.position);
                bounds.extend(marker_to.position);
                bounds.extend(marker_stop1.position);
                bounds.extend(marker_stop2.position);

                //now fit the map to the newly inclusive bounds
                map.fitBounds(bounds);

                window.info[i] = new google.maps.InfoWindow();

                routing = departure+"-"+stop1+"-"+stop2+"-"+arrival;
                routing = routing.replace(/\s/g, '').replace('--','-').replace('--','-');
                info_content = "<div style='text-align:left; font-size: 16px; font-weight: 600 '>Routing : "+routing+"</br>"+"Rank: "+rank+"</div>";
                window.info[i].setContent(info_content);
                var last_zindex = 0;

                flightPath[i].addListener('click', function(event){
                  window.info[last_zindex].close();
                  window.info[this.zIndex].setPosition(event.latLng);
                  window.info[this.zIndex].open(map);
                  last_zindex = this.zIndex
                });
              };
            mixpanel.track("Itinerary success", {"O&D": origincity+"-"+destinationcity});

            } else {notEnoughData(url_to_call) }
          // closing the success clause of the AJAX call
        },
        error: function(){internalError(url_to_call)}
    });

  };


$(document).ready(function () {

    // hiding image when the chart is done
    $('#loading_image').hide();
    $('#loading_extra').hide();
    document.onkeypress = drawOnEnterKey;

    autoSuggestInput("originCityInput", "city");
    autoSuggestInput("destinationCityInput", "city");
}
);


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwiGK11X_sFYhiNgVllolmQLTe02YFdSk&callback=initMap" async defer></script>

  <!-- HTML -->

        <div class="bg-white container_12 ta-c">
          <div class="title"> Connections </div>
          <!--Div that holds the animated gif until the chart loads-->
          <div id="loading_image" class="grid_12 pb-30">
            <img src="{{ url_for('static', filename='img/loading.gif') }}"></img>
          </div>
	      </div>


        <div class="bg-white">
         <div class="container_12 main-graph-area">
           <div id="map_wrapper">
              <div id="map" class="mb-30"></div>
              <div class='container_12 filter-bar'>
                <div class='grid_2'> &nbsp </div>
                <div class='grid_2'> Origin </div>
                <div class='grid_2'> Destination</div>
                <div class='grid_6'> &nbsp </div>

                <div class='grid_2'> &nbsp </div>
                <input id="originCityInput" class='grid_2' type="text" value="IATA city code" onfocus='if (this.value=="IATA city code") {this.value="";}' oninput='this.value=this.value.toUpperCase()' onchange="filter_origin = this.value;">
                <input id="destinationCityInput" class='grid_2' type="text" value="IATA city code" onfocus='if (this.value=="IATA city code") {this.value="";}' oninput='this.value=this.value.toUpperCase()' onchange="filter_destination = this.value;">
                <input type="button" class="grid_2 button-style" value="draw" onClick="drawChart()">
                <input type="button" class="grid_2 button-style" value="share" onClick="shareContent(window.traveltrendsURL, window.subtitle)">

                <img id="loading_extra" src="{{ url_for('static', filename='img/loading_extra.gif') }}"></img>
              </div>
              <div class="grid_12 update_time_container">
               <span class="text-icon"> Last updated on: </span>
               <span id="update_time" class=" text-icon"> - </span>
              </div>
         </div>
         </div>
         <div class="container_12 info-section">
           <div class="dib">
             <div class="grid_2">
                 <i class="fa fa-info-circle fa-5x "></i>
             </div>
             <div class="grid_10">
                 <span>
                   Our Connections map visually plots how people get from A to B and where they might stop over on the way.
                   Airline planners need to know the stop over to think about ways to improve the route offering.
                 </span>
             </div>
           </div>
         </div>

        </div>
{% endblock %}
