{% extends "_header.html" %}
{% block content %}

<script type="text/javascript">
$('#dashboard_wrapper').hide();

// Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart', 'controls']});

// Callback that creates and populates a data table,
// instantiates the chart, passes in the data and draws it.
function drawChart(data_to_display) {

    // Create the data table.
    var data_formatted = new google.visualization.DataTable();
    data_formatted.addColumn('string', 'ID');
    data_formatted.addColumn('string', 'Origin');
    data_formatted.addColumn('string', 'Destination');
    data_formatted.addColumn('string', 'Airline code');
    data_formatted.addColumn('string', 'Day of the week');
    data_formatted.addColumn('date', 'First found');
    data_formatted.addColumn('date', 'Earliest flight');
    data_formatted.addColumn('date', 'Last flight');

    for (i = 0; i < data_to_display.length -1; i++) {
          data_formatted.addRows([
            [data_to_display.data[i][0],
            data_to_display.data[i][1],
            data_to_display.data[i][2],
            data_to_display.data[i][3],
            data_to_display.data[i][4],
            new Date(data_to_display.data[i][5]),
            new Date(data_to_display.data[i][6]),
            new Date(data_to_display.data[i][7])
          ]]);
    };
    var myView = new google.visualization.DataView(data_formatted);
    myView.setRows([0,1,2,3,4,5,6,7,8,9,10,11]);
    var dashboard = new google.visualization.Dashboard(
            document.getElementById('dashboard_div'));
        // Create 2 filters, passing some options
    var fromFilter = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'filter_div',
          'options': {
            'filterColumnLabel': "Origin",
            'values': data_formatted.getDistinctValues(1),
            'ui': { 'label': 'Filter origin airport',
                    'caption': 'e.g. PVG',
                    'allowMultiple' : false,
                    'allowNone': true}
          }
        });
    var toFilter = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'filter_div2',
          'options': {
            'filterColumnLabel': "Destination",
            'values': data_formatted.getDistinctValues(2),
            'ui': { 'label': 'Filter destination airport',
                    'caption': 'e.g PEK',
                    'allowMultiple' : false,
                    'allowNone': true}
          }
        });
        // Create a chart, passing some options
    hAxisGraph.minValue = undefined;
    var myChart = new google.visualization.ChartWrapper({
          'chartType': 'Timeline',
          'containerId': 'chart_div',
          // The  chart will only use the columns listed - note:index start at 0
          'view': {'columns': [0,3,6,7]},
          'options': standardOptions,
    });
    // Establish dependencies, declaring that 'filter' drives 'Chart',
    // so that the  chart will only display entries that are let through
    // given the filter
    // Can also bind filters so that destination is filter for the origin selected
    dashboard.bind(fromFilter, myChart);
    dashboard.bind(toFilter, myChart);

    // Draw the dashboard.
    dashboard.draw(myView);

    //retrieve 12 values every time the filters change
    google.visualization.events.addListener(fromFilter, 'statechange', function() {
      var new_view = new google.visualization.DataView(data_formatted);
      value_filtered = fromFilter.getState();
      mixpanel.track("New Flight selection", {"Origin": value_filtered,});
      new_view.setRows(new_view.getFilteredRows([{column: 1, value: value_filtered.selectedValues[0]}]));
      var filtered_view = new google.visualization.DataView(new_view);
      lastRowIndex = filtered_view.getNumberOfRows()-1
      if (lastRowIndex > 1) {filtered_view.hideRows(Math.min(lastRowIndex, 12),lastRowIndex);
      dashboard.draw(filtered_view);};
    });

    google.visualization.events.addListener(toFilter, 'statechange', function() {
      var new_view = new google.visualization.DataView(data_formatted);
      value_filtered = toFilter.getState();
      mixpanel.track("New Flight selection", {"Destination": value_filtered,});
      new_view.setRows(new_view.getFilteredRows([{column: 2, value: value_filtered.selectedValues[0]}]));
      var filtered_view = new google.visualization.DataView(new_view);
      lastRowIndex = filtered_view.getNumberOfRows()-1
      if (lastRowIndex > 1) {filtered_view.hideRows(Math.min(lastRowIndex, 12),lastRowIndex);
      dashboard.draw(filtered_view);};
    });
};

$(document).ready(function (drawchart) {
    // prepare the URL to call
    var url_to_call = './newflights_data';

    // loading image until the chart is done
    $('#loading_image').show();
    $('#dashboard_wrapper').hide();
    // call API and pass the data to the drawchart function
    $.ajax({
        type: 'GET',
        url: url_to_call,
        dataType: "json",
        crossDomain: true,
        success: function (api_results) {
            drawChart(api_results);
            update_time = new Date(api_results.update);
            document.getElementById("update_time").innerHTML = update_time.toDateString() ;
        },
        complete: function(){
          $('#loading_image').hide();
          $('#dashboard_wrapper').show();
        },
        error: function() {
          swal({  title: "Sorry",  text: "Something went wrong, please review your input.",  type: "error",  confirmButtonText: "OK"});
          mixpanel.track("Error pop up", {"Page":viewpage, "URL": url_to_call});
        }
    });

});

</script>

  <!-- HTML -->
        <div class="bg-white container_12 ta-c">
          <div class="title"> New Flights </div>
          <!--Div that holds the animated gif until the chart loads-->
          <div id="loading_image" class="grid_12 pb-30">
            <img src="{{ url_for('static', filename='img/loading.gif') }}"></img>
          </div>
        </div>

       <div class="bg-white">
        <div class="container_12 main-graph-area">
          <div id="dashboard_wrapper">
          <!--Div that will hold the dashboard-->
            <div id="dashboard_div" >
              <!--Divs that will hold each control and chart-->
              <div id="chart_div"></div>
              <div id="filter_div" class="grid_6 ta-l pb-30"></div>
              <div id="filter_div2" class="grid_6 ta-l pb-30"></div>
              <div class="grid_12 update_time_container">
                <span class=" text-icon "> Last updated on: </span>
                <span id="update_time" class=" text-icon"> - </span>
              </div>
            </div>
          </div>
        </div>
        <div class="container_12 info-section">
          <div class="dib">
            <div class="grid_2">
                <i class="fa fa-info-circle fa-5x "></i>
            </div>
            <div class="grid_10">
                <span>
                  Monitor competitor services easily without stocking the news or spot-specking.
                  Our New Flights view will show combinations of routes which are recently available.
                  With over 50 million people searching Skyscanner for flights every month,
                  it doesn’t take long for a new route to gather interest.
              </span>
            </div>
          </div>
        </div>

      </div>

{% endblock %}
