{% extends "header.html" %}
{% block content %}

<!-- Load the Javascript -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

    // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart', 'controls']});

    // Callback that creates and populates a data table,
    // instantiates the chart, passes in the data and draws it.
    function drawChart(data_to_display) {

        // Create the data table.
        var data_formatted = new google.visualization.DataTable();
        data_formatted.addColumn('string', 'Origin');
        data_formatted.addColumn('string', 'Destination');
        data_formatted.addColumn('string', 'O&D');
        data_formatted.addColumn('number', 'Popularity');
        for (i = 0; i < data_to_display.length -1; i++) {
              data_formatted.addRows([data_to_display.data[i]]);
        };

        var myView = new google.visualization.DataView(data_formatted);
        myView.setRows([0,1,2,3,4,5,6,7,8,9]);

        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));

        // Create 2 filters, passing some options
        var fromFilter = new google.visualization.ControlWrapper({
              'controlType': 'CategoryFilter',
              'containerId': 'filter_div',
              'options': {
                'filterColumnLabel': "Origin",
                'values': data_formatted.getDistinctValues(0),
                'ui': { 'label': 'Filter origin city',
                        'caption': 'e.g. TYO',
                        'allowMultiple' : false,
                        'allowNone': true,}
              }
        });
        var toFilter = new google.visualization.ControlWrapper({
              'controlType': 'CategoryFilter',
              'containerId': 'filter_div2',
              'options': {
                'filterColumnLabel': "Destination",
                'values': data_formatted.getDistinctValues(1),
                'ui': { 'label': 'Filter destination city',
                        'caption': 'e.g. SHA',
                        'allowMultiple' : false,
                        'allowNone': true,}
              }
        });
            // Create a chart, passing some options
        var myChart = new google.visualization.ChartWrapper({
              'chartType': 'BarChart',
              'containerId': 'chart_div',
              // The  chart will use the columns '2' and '3' - note:index start at 0
              'view': {'columns': [2,3]},
              'options': {
                'height':600,
                'colors': ['#00b2d6'],
                'backgroundColor': { fill:'#DFDCE3' },
                'title' : 'Most popular O&D ',
                'titleTextStyle' : { color: '#272133',
                                      fontName: "Helvetica",
                                      fontSize: 18,
                                      bold: true,},
                'vAxis': {title: 'O&D',
                          textStyle: {color: '#272133', fontName: "Helvetica",fontSize: 16},
                          titleTextStyle: {color: '#272133', fontName: "Helvetica",fontSize: 18}},
                'hAxis': {title: 'Popularity Index',
                          textStyle: {color: '#272133', fontName: "Helvetica",fontSize: 16},
                          titleTextStyle: {color: '#272133', fontName: "Helvetica",fontSize: 18}},
                'legend': {position: 'none'},
            //  animation doesn't work with dataview - bug
              }
            });

            // Establish dependencies, declaring that 'filter' drives 'Chart',
            // so that the  chart will only display entries that are let through
            // given the filter
            // Can also bind filters so that destination is filter for the origin selected
            dashboard.bind(fromFilter, myChart);
            dashboard.bind(fromFilter, toFilter);
            dashboard.bind(toFilter, myChart);

            // Draw the dashboard.
            dashboard.draw(myView);

            //retrieve 10 values every time the filters change
            google.visualization.events.addListener(fromFilter, 'statechange', function() {
              filter_state = fromFilter.getState();
              value_filtered = filter_state.selectedValues[0];
              mixpanel.track("Popularity selection", {"Origin": value_filtered,});
              var new_view = new google.visualization.DataView(data_formatted);
              new_view.setRows(new_view.getFilteredRows([{column: 0, value: value_filtered}]));
              var filtered_view = new google.visualization.DataView(new_view);
              lastRowIndex = filtered_view.getNumberOfRows()-1
              if (lastRowIndex > 1) {filtered_view.hideRows(Math.min(lastRowIndex, 10),lastRowIndex);
              dashboard.draw(filtered_view);};
            });

            google.visualization.events.addListener(toFilter, 'statechange', function() {
              filter_state = toFilter.getState();
              value_filtered = filter_state.selectedValues[0];
              mixpanel.track("Popularity selection", {"Destination": value_filtered,});
              var new_view = new google.visualization.DataView(data_formatted);
              new_view.setRows(new_view.getFilteredRows([{column: 1, value: value_filtered}]));
              var filtered_view = new google.visualization.DataView(new_view);
              lastRowIndex = filtered_view.getNumberOfRows()-1
              if (lastRowIndex > 1) {filtered_view.hideRows(Math.min(lastRowIndex, 10),lastRowIndex);
              dashboard.draw(filtered_view);};
            });
    };

    $(document).ready(function (drawchart) {
        // prepare the URL to call
        var url_to_call = './popularity_data';

        // loading image until the chart is done
        $('#loading_image').show();
        // call API and pass the data to the drawchart function
        $.ajax({
            type: 'GET',
            url: url_to_call,
            dataType: "json",
            crossDomain: true,
            success: function (api_results) {
                drawChart(api_results);
                update_time = new Date(api_results.update);
                document.getElementById("update_time").innerHTML = update_time.toDateString() ;
            },
            complete: function(){
                $('#loading_image').hide();
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    });

    </script>

  <!-- HTML -->

        <div class="bg-white">
    	    <div class="container_12 icon-section">
    					<div class="grid_4">
    							<i class="fa fa-users fa-4x sky-blue"></i>
    							<p class=" text-icon "> Based on 50M+ UMVs </p>
    					</div>
              <div class="grid_4">
    							<i class="fa fa-calendar fa-4x sky-blue"></i>
    							<p class=" text-icon "> In the last 12 months </p>
    					</div>
  						<div class="grid_4">
  								<i class="fa fa-star fa-4x sky-blue"></i>
  								<p class=" text-icon ">The most popular routes are: </p>
  						</div>
            <!--Div that holds the animated gif until the chart loads-->
            <div id="loading_image" class="grid_12 pb-30">
              <img src="{{ url_for('static', filename='loading.gif') }}"></img>
            </div>
  	      </div>
         </div>

          <div class="bg-light-grey">
           <div class="container_12 ta-c fs-18 pb-30">

               <!--Div that will hold the dashboard-->
               <div id="dashboard_div" >
                 <!--Divs that will hold each control and chart-->
                 <div id="chart_div" class="zlow"></div>
                 <div id="filter_div" class="grid_6 ta-l pb-30"></div>
                 <div id="filter_div2" class="grid_6 ta-l pb-30"></div>
               </div>
               <span class=" text-icon "> Last updated on: </span>
               <span id="update_time" class=" text-icon"> - </span>
            </div>

            <div class="container_12 info-section">
              <div class="dib">
                <div class="grid_2">
                    <i class="fa fa-info-circle fa-5x "></i>
                </div>
                <div class="grid_10">
                    <span> The most popular O&Ds are calculated based on the number of redirects
                      captured during the last 12 months (search dates).<br/>
                      The popularity index enables comparison between O&D
                    </span>
                </div>
              </div>
            </div>
          </div>

{% endblock %}
