{% extends "_header.html" %}
{% block content %}

<script type="text/javascript">
$('#loading_extra').hide();
// Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart', 'controls']});

// Callback that creates and populates a data table,
// instantiates the chart, passes in the data and draws it.
function drawChart(filtertype,city) {
  var filter = document.getElementById("originCityInput");
  if (typeof filtertype === "undefined") {filtertype='o'};
  if (typeof city === "undefined") {
  city = filter.value.toUpperCase();
  mixpanel.track("Popularity selection", {"Origin": filter.value,});
  };
  // prepare the URL to call
  var url_to_call = '/popularity_data/'+filtertype+'/'+city;

  // loading image until the chart is done
  $('#loading_extra').show();

  // call API and pass the data to the drawchart function
  $.ajax({
      type: 'GET',
      url: url_to_call,
      dataType: "json",
      crossDomain: true,
      success: function (api_results) {
          data_to_display_redirects=api_results.dataredirects;
          data_to_display_searches=api_results.datasearches;

          if (api_results.length == 10 ) {
          update_time = new Date(api_results.update);
          document.getElementById("update_time").innerHTML = update_time.toDateString() ;

          // Create the data table.
          var data_formatted2 = new google.visualization.DataTable();
          data_formatted2.addColumn('string', 'Origin');
          data_formatted2.addColumn('string', 'Destination');
          data_formatted2.addColumn('string', 'O&D');
          data_formatted2.addColumn('number', 'Popularity');
          for (i = 0; i < data_to_display_searches.length ; i++) {
                data_formatted2.addRows([data_to_display_searches[i]]);
          };
          // Create a chart, passing some options
          vAxisGraph.title = 'O&D';
          hAxisGraph.title = 'Most searched (interest)';
          standardOptions.width = '340';
          standardOptions.chartArea.width = '35%'
          myChart2 = new google.visualization.ChartWrapper({
                'chartType': 'BarChart',
                'containerId': 'chart_div2',
                'dataTable': data_formatted2,
                // The  chart will use the columns '2' and '3' - note:index start at 0
                'view': {'columns': [2,3]},
                'options': standardOptions
            });

            // Draw the chart
            myChart2.draw();
            setTimeout(function(){

              google.visualization.events.addListener(myChart2.getChart(), 'select', function() {
                var selectedItem = myChart2.getChart().getSelection()[0];
                if (selectedItem) {
                  var value = data_formatted2.getValue(selectedItem.row, 1);
                  var url_to_send_to = "../trending_view?origincity="+city+"&destinationcity="+value
                  mixpanel.track("Clickthrough", {"From_page":viewpage, "To_page": url_to_send_to});
                  window.open(url_to_send_to);
                }
              });
            },1000);

          // Create the data table.
          var data_formatted = new google.visualization.DataTable();
          data_formatted.addColumn('string', 'Origin');
          data_formatted.addColumn('string', 'Destination');
          data_formatted.addColumn('string', 'O&D');
          data_formatted.addColumn('number', 'Popularity');
          for (i = 0; i < data_to_display_redirects.length ; i++) {
                data_formatted.addRows([data_to_display_redirects[i]]);
          };
          // Create a chart, passing some options

          hAxisGraph.title = 'Most clicked (intent)';

          myChart = new google.visualization.ChartWrapper({
                'chartType': 'BarChart',
                'containerId': 'chart_div',
                'dataTable': data_formatted,
                // The  chart will use the columns '2' and '3' - note:index start at 0
                'view': {'columns': [2,3]},
                'options': standardOptions
            });

            // Draw the chart
            myChart.draw();
            setTimeout(function(){

              google.visualization.events.addListener(myChart.getChart(), 'select', function() {
                var selectedItem = myChart.getChart().getSelection()[0];
                if (selectedItem) {
                  var value = data_formatted.getValue(selectedItem.row, 1);
                  var url_to_send_to = "../trending_view?origincity="+city+"&destinationcity="+value
                  mixpanel.track("Clickthrough", {"From_page":viewpage, "To_page": url_to_send_to});
                  window.open(url_to_send_to);
                }
              });
            },1000);


            mixpanel.track("Popularity success", {"Origin": filter.value,});

          } else {
                  swal({title: "Sorry",  text: "We don't have enough data for this request,</br> are you entering an IATA <span class='swal-highlight'>city code</span>?", html:true, type: "error",  confirmButtonText: "OK"});
                  mixpanel.track("Error pop up", {"Page":viewpage, "URL": url_to_call});
                }
      // closing the success clause of the AJAX call
      },
      complete: function(){
        $('#loading_image').hide();
        $('#loading_extra').hide();
        $('#dashboard_wrapper').show();
      },
      error: function() {
        swal({  title: "Sorry",  text: "Something went wrong, please review your input.",  type: "error",  confirmButtonText: "OK"});
        mixpanel.track("Error pop up", {"Page":viewpage, "URL": url_to_call});
      }
    });
};

$(document).ready(function () {
    // loading image until the chart is done
    $('#dashboard_wrapper').hide();
    $('#loading_image').show();
    drawChart('o','LON');

});

document.onkeypress = drawOnEnterKey;

autoSuggestInput("originCityInput", "city");

</script>

  <!-- HTML -->
          <div class="bg-white container_12 ta-c">
            <div class="title"> Popular O&D </div>
            <!--Div that holds the animated gif until the chart loads-->
            <div id="loading_image" class="grid_12 pb-30">
              <img src="{{ url_for('static', filename='img/loading.gif') }}"></img>
            </div>
          </div>

          <div class="bg-white">
           <div class="container_12 main-graph-area">
             <div id="dashboard_wrapper">
                 <!--Divs that will hold each control and chart-->
                 <div id="chart_div2" class="zlow grid_6"></div>
                 <div id="chart_div" class="zlow grid_6"></div>
                 <div class='container_12 filter-bar'>
                   <div class='grid_4'> &nbsp </div>
                   <div class='grid_4'> <strong>Origin city</strong> </div>
                   <div class='grid_4'> &nbsp </div>

                   <div class='grid_4'> &nbsp </div>
                   <input id="originCityInput" class='grid_4' type="text" value="IATA city code (e.g. TYO)" onfocus='if (this.value=="IATA city code (e.g. TYO)") {this.value="";}' oninput="this.value=this.value.toUpperCase()" onchange="filter_origin = this.value;">
                   <input type="button" class="grid_2 button-style" value="check" onClick="drawChart('o',undefined)">
                   <img id="loading_extra" src="{{ url_for('static', filename='img/loading_extra.gif') }}"></img>
                 </div>
              <div class="grid_12 update_time_container">
                <span class=" text-icon "> Last updated on: </span>
                <span id="update_time" class=" text-icon"> - </span>
              </div>
            </div>
          </div>
          <div class="container_12 info-section">
            <div class="dib">
              <div class="grid_2">
                  <i class="fa fa-info-circle fa-5x "></i>
              </div>
              <div class="grid_10">
                  <span>
                    Use this dashboard to discover popular and in-demand routes,
                    showing users’ click-throughs over the previous twelve months.
                    You can change the origins by searching for a city’s IATA three-letter code.
                  </span>
              </div>
            </div>
          </div>
          </div>


{% endblock %}
