{% extends "header.html" %}
{% block content %}

<!-- Load the Javascript -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    // function to retrieve the city name from the parameters passed in the URL
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart', 'controls']});
      var chartoptions = {
        'height':600,
        'width':700,
        'chartArea': {width: '75%', height: '80%'},
        'curveType': 'function',
        'lineWidth': 4,
        'colors': ['#00B2D6', '#272133', '#005567'],
        'backgroundColor': { fill:'#FFFFFF' },
        'vAxis': {title: 'Rank (1 is most searched for)',
                  textStyle: {color: '#272133', fontName: "Helvetica",fontSize: 16},
                  titleTextStyle: {color: '#272133', fontName: "Helvetica",fontSize: 18},
                  direction: -1,
                  gridlines: {count: -1},
                  maxValue: 10,
                  },
        'legend': {position: 'bottom'},
      };

    // Callback that creates and populates a data table,
    // instantiates the chart, passes in the data and draws it.
    function drawChart(origin, destination) {

      var filter_from = document.getElementById("origin_input");
      if (typeof origin === "undefined") {
      origin = filter_from.value.toUpperCase();
      };

      var filter_to = document.getElementById("destination_input");
      if (typeof destination === "undefined") {
      destination = filter_to.value.toUpperCase();
      mixpanel.track("Trend selection", {"O&D": filter_from.value+'-'+filter_to.value,});
      };
      // prepare the URL to call
      var url_to_call = './trending_data/'+origin+'/'+destination;

      // loading image until the chart is done
      $('#loading_extra').show();

      // call API and pass the data to the drawchart function
      $.ajax({
          type: 'GET',
          url: url_to_call,
          dataType: "json",
          crossDomain: true,
          success: function (api_results) {
            data_to_display=api_results;
            update_time = new Date(api_results.update);
            document.getElementById("update_time").innerHTML = update_time.toDateString() ;
            if (api_results.length == api_results.max_length ){

              // Create the data table.
              data_formatted = new google.visualization.DataTable();
              data_formatted.addColumn('string', 'Origin');
              data_formatted.addColumn('string', 'Destination');
              data_formatted.addColumn('date', 'Search Month');
              data_formatted.addColumn('number', destination+' from '+origin);

              for (i = 0; i < data_to_display.length -1; i++) {
                    data_formatted.addRows([
                      [data_to_display.data[i][0],
                      data_to_display.data[i][1],
                      new Date(data_to_display.data[i][2]),
                      data_to_display.data[i][3],
                    ]]);
              };

                  // Create a chart, passing some options
              var myChart = new google.visualization.ChartWrapper({
                    'chartType': 'LineChart',
                    'containerId': 'chart_div',
                    'dataTable': data_formatted,
                    // The  chart will only use the columns listed - note:index start at 0
                    'view': {'columns': [2,3]},
                    'options': chartoptions
              });

            // Draw the dashboard.
            myChart.draw();

              // closing the success clause of the AJAX call
            } else {
                    swal({  title: "Sorry",  text: "We don't have enough data for this request,</br> are you entering IATA <span class='swal-highlight'>city codes</span>?", html:true , type: "error",  confirmButtonText: "OK"});
                    mixpanel.track("Error pop up", {"Page":viewpage,"Step":"Reset", "URL": url_to_call});
                    }
          },
          complete: function(){
            $('#loading_image').hide();
            $('#loading_extra').hide();
            $('#dashboard_wrapper').show();
          },
          error: function (request, status, error) {
            console.log(error);
          }
        });
    };

    function addToChart(origin, destination) {

      var filter_from = document.getElementById("origin_input");
      if (typeof origin === "undefined") {
      origin = filter_from.value.toUpperCase();
      };

      var filter_to = document.getElementById("destination_input");
      if (typeof destination === "undefined") {
      destination = filter_to.value.toUpperCase();
      mixpanel.track("Trend selection", {"O&D": filter_from.value+'-'+filter_to.value,});
      };
      // prepare the URL to call
      var url_to_call = './trending_data/'+origin+'/'+destination;

      // loading image until the chart is done
      $('#loading_extra').show();

      // call API and pass the data to the drawchart function
      $.ajax({
          type: 'GET',
          url: url_to_call,
          dataType: "json",
          crossDomain: true,
          success: function (api_results) {
              data_to_display=api_results;
              update_time = new Date(api_results.update);
              document.getElementById("update_time").innerHTML = update_time.toDateString() ;
              if (api_results.length == api_results.max_length ){

                // add the new column.
                data_formatted.addColumn('number', destination+' from '+origin);

                for (i = 0; i < data_to_display.length -1; i++) {
                      data_formatted.setValue(i, data_formatted.getNumberOfColumns()-1, data_to_display.data[i][3]);
                };

                var myView = new google.visualization.DataView(data_formatted);
                myView.hideColumns([0,1]);

                    // Create a chart, passing some options
                var myChart = new google.visualization.ChartWrapper({
                      'chartType': 'LineChart',
                      'containerId': 'chart_div',
                      'dataTable': myView,
                      // The  chart will only use the columns listed - note:index start at 0
                      'options': chartoptions,
                });

                // Draw the dashboard.
                myChart.draw();

                // closing the success clause of the AJAX call
              } else {
                      swal({  title: "Sorry",  text: "We don't have enough data for this request,</br> are you entering IATA <span class='swal-highlight'>city codes</span>?", html:true , type: "error",  confirmButtonText: "OK"});
                      mixpanel.track("Error pop up", {"Page":viewpage,"Step":"Add", "URL": url_to_call});
                    }
          },
          complete: function(){
            $('#loading_image').hide();
            $('#loading_extra').hide();
            $('#dashboard_wrapper').show();
          },
          error: function (request, status, error) {
            console.log(error);
          }
        });
    };

    $(document).ready(function () {
        // loading image until the chart is done
        $('#dashboard_wrapper').hide();
        $('#loading_image').show();

        var origincityURL =  getUrlParameter('origincity');
        var destinationcityURL =  getUrlParameter('destinationcity');

        if (origincityURL != undefined && destinationcityURL != undefined) {
        drawChart(origincityURL,destinationcityURL);
        } else {
        drawChart('TYO','SYD');
        };
    });

    document.onkeypress = function (e) {
        if (e.keyCode == 13 && swal_on == 0) {
            addToChart(undefined,undefined);
        }
    };

    autoSuggestInput("origin_input", "city");
    autoSuggestInput("destination_input", "city");

    </script>

  <!-- HTML -->
        <div class="bg-white container_12 ta-c">
          <div class="title"> Trending destinations </div>
          <!--Div that holds the animated gif until the chart loads-->
          <div id="loading_image" class="grid_12 pb-30">
            <img src="{{ url_for('static', filename='loading.gif') }}"></img>
          </div>
        </div>

       <div class="bg-white">
        <div class="container_12 ta-c fs-16 pb-30 pt-30">
          <!--Div that will hold the dashboard-->
          <div id="dashboard_wrapper" >
            <!--Divs that will hold each control and chart-->
            <div id="chart_div"></div>
            <div class='container_12 filter-bar'>
              <div class='grid_1'> &nbsp </div>
              <div class='grid_3'> <strong>From city</strong> </div>
              <div class='grid_3'> <strong>To city</strong> </div>
              <div class='grid_2'> &nbsp </div>
              <div class='grid_2'> &nbsp </div>
              <div class='grid_1'> &nbsp </div>

              <div class='grid_1'> &nbsp </div>
              <input id="origin_input" class='grid_3' type="text" value="IATA city code" onfocus='if (this.value=="IATA city code") {this.value="";}' oninput='this.value=this.value.toUpperCase()' onchange="filter_origin = this.value;">
              <input id="destination_input" class='grid_3' type="text" value="IATA city code" onfocus='if (this.value=="IATA city code") {this.value="";}' oninput='this.value=this.value.toUpperCase()' onchange="filter_destination = this.value;">
              <input type="button" class="grid_2 button-style" value="add" onClick="addToChart(undefined,undefined)">
              <input type="button" class="grid_2 button-style" value="reset" onClick="drawChart(undefined,undefined)">
              <img id="loading_extra" src="{{ url_for('static', filename='loading_extra.gif') }}"></img>
            </div>
            <div class="grid_12 update_time_container">
              <span class="text-icon"> Last updated on: </span>
              <span id="update_time" class=" text-icon"> - </span>
            </div>
          </div>
        </div>
        <div class="container_12 info-section">
          <div class="dib">
            <div class="grid_2">
                <i class="fa fa-info-circle fa-5x "></i>
            </div>
            <div class="grid_10">
                <span>
                  We’re often asked what trending destinations the industry should look out for.
                  In this dashboard, we reveal key ranking information to highlight trending hotspots by showing the escalation in popularity ranking.
                  The faster the growth in ranking, the more it would represent a ‘trending’ destination.
                </span>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
