{% extends "_header.html" %}
{% block content %}

<script type="text/javascript">
$(document).ready(function () {
    $('#bottom_links').hide();
});
</script>
  <!-- HTML -->

      <div class="bg-white">
  	    <div class="container_12 pt-30">
  				<div class="dib">
            <a href="./home">
    					<div class="grid_6 home-link " >
    							<i class="fa fa-home fa-5x sky-blue"></i>
    							<p class=" text-icon p-5 grey"> Home </p>
    					</div>
            </a>
            <a href="./neural_view">
              <div class="grid_6 home-link " >
                <i class="fa fa-connectdevelop fa-5x sky-blue"></i>
                <p class=" text-icon p-5 grey"> Neural Network </p>
              </div>
            </a>
            <a href="./price_elasticity">
              <div class="grid_6 home-link " >
                <i class="fa fa-expand fa-5x sky-blue"></i>
                <p class=" text-icon p-5 grey"> Price Elasticity </p>
              </div>
            </a>
            <a href="./airport_map">
              <div class="grid_6 home-link " >
                <i class="fa fa-info fa-5x sky-blue"></i>
                <p class=" text-icon p-5 grey"> Airport Info </p>
              </div>
            </a>

					</div>
         <div class="container_12 info-section">
           <div class="dib">
             <div class="grid_2">
                 <i class="fa fa-info-circle fa-5x "></i>
             </div>
             <div class="grid_10">
                <span>
                This special vizualisation are exploration analysis using the most recent algorithms in data science / machine Learning
                The data used is from Travel Insight as a proof of concept
                </span>
             </div>
           </div>
         </div>
         <div style="display:none">
           <img src="{{ url_for('static', filename='img/loading.gif') }}"></img>
           <img src="{{ url_for('static', filename='img/loading_extra.gif') }}"></img>
         </div>
      </div>
    </div>

{% endblock %}
