{% extends "_header.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/markerclusterer.js') }}"></script>

<script>
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 0, lng: 0},
      zoom: 3,
      gestureHandling: 'cooperative',
      scrollwheel: false,
      styles: [
        //{elementType: 'geometry', stylers: [{color: '#DFDCE3'}]},
        //{featureType: 'water', elementType: 'geometry',stylers: [{color: '#272133'}]},
        {featureType: "administrative",elementType: "geometry",stylers: [{visibility: "off"}]},
        {featureType: "poi", "stylers": [{ visibility: "off"} ] },
        {featureType: "road", stylers: [{visibility: "off"}]},
        {featureType: "transit", stylers: [{ visibility: "off" } ]}
      ]
    });
    $.ajax({
      type: 'GET',
      url: './geo_data',
      dataType: "json",
      crossDomain: true,
      success: function (data_to_display) {
        airportgeo = data_to_display;
        var markers = [];
        window.info = [];
        window.infoContent = [];
          for (i = 0; i < data_to_display.length; i++) {
              markers[i] = new google.maps.Marker({
                position: {lat:data_to_display.data[i][1],lng:data_to_display.data[i][2]},
                label: data_to_display.data[i][0],
                zIndex : i
              });

              window.info[i] = new google.maps.InfoWindow();

              window.infoContent[i] = data_to_display.data[i][3]+", "+data_to_display.data[i][4]+", "+data_to_display.data[i][5];
              window.infoContent[i] = infoContent[i].replace(/\//g, '').replace(/"/g, '');

              window.info[i].setContent(window.infoContent[i]);
              var last_zindex = 0;
              markers[i].addListener('click', function(event){
                window.info[last_zindex].close();
                window.info[this.zIndex].open(map,this);
                last_zindex = this.zIndex
              });
          };
          var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: "{{ url_for('static', filename='img/m') }}",
            minimumClusterSize: 4});
      },
      complete: function(){
        $('#loading_extra').hide();
        $('#loading_image').hide();
      }
    });
  };

  function search() {
    var airport = document.getElementById("searchAirport").value;
    for (i= 0; i<= airportgeo.length; i++) {
      if (airportgeo.data[i][0] == airport) {
        var airport_data = airportgeo.data[i];
        var myLatLng = new google.maps.LatLng(airportgeo.data[i][1],airportgeo.data[i][2]);
        map.setCenter(myLatLng);
        map.setZoom(8);
        //drop a marker where the airport is
        marker = new google.maps.Marker({
          map: map,
          animation: google.maps.Animation.DROP,
          position: {lat:airportgeo.data[i][1],lng:airportgeo.data[i][2]},
          zIndex : 100000,
          icon : "{{ url_for('static', filename='img/airportlogo.png') }}"
          });
        marker.setAnimation(google.maps.Animation.BOUNCE);
        marker.addListener('click', toggleBounce);
        document.getElementById("infoHolder").innerHTML = window.infoContent[i];
        break;
        }
      };
  };
  //make the marker jump when clicked, for fun
  function toggleBounce() {
  if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  };


$(document).ready(function () {

    // hiding image when the chart is done
    $('#loading_image').hide();
    $('#loading_extra').hide();

}
);

autoSuggestInput("searchAirport", "airport");

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwiGK11X_sFYhiNgVllolmQLTe02YFdSk&callback=initMap" async defer></script>

  <!-- HTML -->

        <div class="bg-white container_12 ta-c">
          <div class="title"> Airport Info </div>
          <!--Div that holds the animated gif until the chart loads-->
          <div id="loading_image" class="grid_12 pb-30">
            <img src="{{ url_for('static', filename='img/loading.gif') }}"></img>
          </div>
	      </div>


        <div class="bg-white">
         <div class="container_12 main-graph-area">
           <div id="map_wrapper">
              <div id="map" class="mb-30"></div>
              <div class='container_12 filter-bar'>
                <div class='grid_3'> &nbsp </div>
                <div class='grid_4'> <strong>Airport code</strong> </div>
                <div class='grid_3'> &nbsp </div>
                <div class='grid_2'> &nbsp </div>

                <div class='grid_3'> &nbsp </div>
                <input id="searchAirport" class='grid_4' type="text" value="airport code" onFocus='this.value=""'>
                <input type="button" class="grid_3 button-style" value="search airport" onClick="search()">
                <img id="loading_extra" src="{{ url_for('static', filename='img/loading_extra.gif') }}"></img>
                <div id="infoHolder" class='grid_12 ' style="font-weight:bold">  </div>
                <div class='grid_12 ' style="font-weight:bold">Source: OpenFlights.org  </div>
              </div>
            </div>
           </div>
         <div class="container_12 info-section">
           <div class="dib">
             <div class="grid_2">
                 <i class="fa fa-info-circle fa-5x "></i>
             </div>
             <div class="grid_10">
                 <span>
                   The map shows airport locations and their codes
                 </span>
             </div>
           </div>
         </div>

        </div>
{% endblock %}
