{% extends "_header.html" %}
{% block content %}
<div class="ta-c bg-white">
  <div class="title"> Price Elasticity </div>
  <div class="container_12">

    <div class='tableauPlaceholder loading-iframe' id='viz1502226109305' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PriceElasticityEurope&#47;Elasticitybycountry&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='site_root' value='' />
            <param name='name' value='PriceElasticityEurope&#47;Elasticitybycountry' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PriceElasticityEurope&#47;Elasticitybycountry&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
        </object>
    </div>                
    <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1502226109305');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='720';
        vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
  </div>
  <div class="container_12 info-section ">
      <div class="grid_2">
          <i class="fa fa-info-circle fa-5x"></i>
      </div>
      <div class="grid_10">
          <span>
              Price Elasticity analysis for intra-Europe O&D</br>
              <a href='https://www.linkedin.com/pulse/measuring-price-elasticity-air-travel-faical-allou'>full write up here</a>
          </span>
      </div>
  </div>
</div>
{% endblock %}
